<mk-box header="NEW DRIVERS" [isCollapsable]="true" [isRemovable]="false" contentClasses="table-responsive">
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <mk-input-group inputErrorColor="warning">
      <mk-input-group-label>Driver ID</mk-input-group-label>
      <!-- <mk-input-group-addon-left>@</mk-input-group-addon-left> -->
      <mk-input-group-addon-right><i [ngClass]="userForm.invalid ? 'fa fa-times' : 'fa fa-check'"></i>
      </mk-input-group-addon-right>
      <mk-input-group-content>
        <input mkInputText formControlName="firstName" class="toto form-control" />
        
      </mk-input-group-content>
     </mk-input-group>
     <mk-input-group inputErrorColor="warning">
      <mk-input-group-label>Name</mk-input-group-label>
      <!-- <mk-input-group-addon-left>@</mk-input-group-addon-left> -->
      <mk-input-group-addon-right><i [ngClass]="userForm.invalid ? 'fa fa-times' : 'fa fa-check'"></i>
      </mk-input-group-addon-right>
      <mk-input-group-content>
        <input mkInputText formControlName="firstName" class="toto form-control" />
        
      </mk-input-group-content>
      
    </mk-input-group>
    
    <mk-input-group inputErrorColor="warning">
      <mk-input-group-label>Phone Number</mk-input-group-label>
      <!-- <mk-input-group-addon-left>@</mk-input-group-addon-left> -->
      <mk-input-group-addon-right><i [ngClass]="userForm.invalid ? 'fa fa-times' : 'fa fa-check'"></i>
      </mk-input-group-addon-right>
      <mk-input-group-content>
        <input mkInputText formControlName="firstName" class="toto form-control" />
        
      </mk-input-group-content>
      
    </mk-input-group>
    <mk-input-group inputErrorColor="warning">
      <mk-input-group-label>Address</mk-input-group-label>
      <!-- <mk-input-group-addon-left>@</mk-input-group-addon-left> -->
      <mk-input-group-addon-right><i [ngClass]="userForm.invalid ? 'fa fa-times' : 'fa fa-check'"></i>
      </mk-input-group-addon-right>
      <mk-input-group-content>
        <input mkInputText formControlName="firstName" class="toto form-control" />
        
      </mk-input-group-content>
      
    </mk-input-group>
    <mk-input-group inputErrorColor="warning">
      <mk-input-group-label>Licence Number</mk-input-group-label>
      <!-- <mk-input-group-addon-left>@</mk-input-group-addon-left> -->
      <mk-input-group-addon-right><i [ngClass]="userForm.invalid ? 'fa fa-times' : 'fa fa-check'"></i>
      </mk-input-group-addon-right>
      <mk-input-group-content>
        <input mkInputText formControlName="firstName" class="toto form-control" />
        
      </mk-input-group-content>
      
    </mk-input-group>
    <br />
    <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Add Driver</button>
  </form>
</mk-box>

<mk-box header="DRIVERS" [isCollapsable]="true" [isRemovable]="false" contentClasses="table-responsive">
  <table class="table table-bordered table-hover">
    <tbody>
      <tr>
        <th>Sl No.</th>
        <th>Name</th>
        <th>DID</th>
        <th>License No.</th>
        <th>Phone</th>
        <th>Address</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Rinosha</td>
        <td>ED1OO1</td>
        <td>KL654456FGH665</td>
        <td>9746573617</td>
        <td>Baithul Rahma, Kandankulangara, Pavangad, Calict, Kerala</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Rinosha</td>
        <td>ED1OO1</td>
        <td>KL654456FGH665</td>
        <td>9746573617</td>
        <td>Baithul Rahma, Kandankulangara, Pavangad, Calict, Kerala.</td>
      </tr>
    </tbody>
  </table>
</mk-box>