<mk-box header="NEW BUSES" [isCollapsable]="true" [isRemovable]="false" contentClasses="table-responsive">
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    
    
     <mk-input-group inputErrorColor="warning">
      <mk-input-group-label>Bus Name</mk-input-group-label>
      <mk-input-group-addon-right><i [ngClass]="userForm.invalid ? 'fa fa-times' : 'fa fa-check'"></i>
      </mk-input-group-addon-right>
      <mk-input-group-content>
        <input mkInputText formControlName="firstName" class="toto form-control" />
        
      </mk-input-group-content>
      
    </mk-input-group>
    
    <mk-input-group inputErrorColor="warning">
      <mk-input-group-label>Bus Number</mk-input-group-label>
      <mk-input-group-addon-right><i [ngClass]="userForm.invalid ? 'fa fa-times' : 'fa fa-check'"></i>
      </mk-input-group-addon-right>
      <mk-input-group-content>
        <input mkInputText formControlName="firstName" class="toto form-control" />
        
      </mk-input-group-content>
      
    </mk-input-group>
    <mk-input-group inputErrorColor="warning">
      <mk-input-group-label>BID</mk-input-group-label>
      <mk-input-group-addon-right><i [ngClass]="userForm.invalid ? 'fa fa-times' : 'fa fa-check'"></i>
      </mk-input-group-addon-right>
      <mk-input-group-content>
        <input mkInputText formControlName="firstName" class="toto form-control" />
        
      </mk-input-group-content>
      
    </mk-input-group>
    <mk-input-group inputErrorColor="warning">
      <mk-input-group-label>Route</mk-input-group-label>
      <mk-input-group-addon-right><i [ngClass]="userForm.invalid ? 'fa fa-times' : 'fa fa-check'"></i>
      </mk-input-group-addon-right>
      <mk-input-group-content>
        <input mkInputText formControlName="firstName" class="toto form-control" />
        
      </mk-input-group-content>
      
    </mk-input-group>
    <br />
    <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Add Bus</button>
  </form>
</mk-box>

<mk-box header="BUSES" [isCollapsable]="true" [isRemovable]="false" contentClasses="table-responsive">
  <table class="table table-bordered table-hover">
    <tbody>
      <tr>
        <th>Sl No.</th>
        <th>Bus Name</th>
        <th>Bus Number</th>
        <th> BID</th>
        <th>ROUTE</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Daily hunt</td>
        <td>KL 57 ER 6754</td>
        <td>EB1001</td>
        <td>palayi</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Traveller</td>
        <td>KL 67 GY 8976</td>
        <td>EB1002</td>
        <td>PAVAGAD</td>
      </tr>
    </tbody>
  </table>
</mk-box>
