<mk-box header="STOP" [isCollapsable]="true" [isRemovable]="false" contentClasses="table-responsive">
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <mk-input-group inputErrorColor="warning">
      <mk-input-group-label>Stop ID</mk-input-group-label>
      <!-- <mk-input-group-addon-left>@</mk-input-group-addon-left> -->
      <mk-input-group-addon-right><i [ngClass]="userForm.invalid ? 'fa fa-times' : 'fa fa-check'"></i>
      </mk-input-group-addon-right>
      <mk-input-group-content>
        <input mkInputText formControlName="firstName" class="toto form-control" />
        
      </mk-input-group-content>
     </mk-input-group>
     <mk-input-group inputErrorColor="warning">
      <mk-input-group-label>Name</mk-input-group-label>
      <!-- <mk-input-group-addon-left>@</mk-input-group-addon-left> -->
      <mk-input-group-addon-right><i [ngClass]="userForm.invalid ? 'fa fa-times' : 'fa fa-check'"></i>
      </mk-input-group-addon-right>
      <mk-input-group-content>
        <input mkInputText formControlName="firstName" class="toto form-control" />
        
      </mk-input-group-content>
      
    </mk-input-group>
    
   
   
    
    <br />
    <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Add Stop</button>
  </form>
</mk-box>

<mk-box header="NEW ROUTE" [isCollapsable]="true" [isRemovable]="false" contentClasses="table-responsive">
  <table class="table table-bordered table-hover">
    <tbody>
      <tr>
        <th>Sl No.</th>
        <th>Name</th>
        <th>SID</th>
        <!-- <th>License No.</th> -->
        <!-- <th>Phone</th> -->
        <!-- <th>Address</th> -->
      </tr>
      <tr>
        <td>1</td>
        <td>Rinosha</td>
        <td>ED1OO1</td>
        
      </tr>
      <tr>
        <td>2</td>
        <td>Rinosha</td>
        <td>ED1OO1</td>
        
      </tr>
    </tbody>
  </table>
</mk-box>

